.actu-container {
  margin: 20px 0;
  width: 65%;
  position: relative;
  // z-index: -3;
  &.large {
    width: initial;
    .card-actu {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  .widget-1 {
    height: 80px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: $blue;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(black, .35);
    position: relative;
    &.mobile-screen {
      display: none;
      @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
      }
    }
    img {
      height: 75%;
      margin: auto 0;
    }
    h2 {
      color: white;
      text-align: center;
      margin: auto 15px;
      font-size: 1.5em;
    }
    i.fa.fa-arrow-right {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: white;
      font-size: 1rem;
    }
  }
  .card-actu {
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(black, .35);
    background-color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    @media screen and (max-width: 768px) {
      margin-right: 0;
      flex-direction: column;
      height: 450px;
    }
    .card-actu-img {
      @include img-cover;
      height: 100%;
      width: 35%;
      border-radius: 10px 0 0 10px;
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 250px;
        border-radius: 10px 10px 0 0;
      }
    }
    .card-actu-body {
      position: relative;
      width: 65%;
      padding: 20px;
      @media screen and (max-width: 768px) {
        width: calc(100% - 40px);
        height: 200px;
      }
      .card-actu-action-buttons {
        position: absolute;
        right: 20px;
        top: 10px;
        i {
          font-size: 1.5rem;
          padding: 0;
          padding-left: 5px;
          &:nth-child(1) {
            color: $blue;
          }
          &:nth-child(2) {
            color: $red;
          }
        }
      }
      .card-actu-category {
        font-size: .8em;
        font-weight: 500;
        color: $red;
        margin-bottom: 5px;
      }
      .card-actu-title {
        font-size: .9em;
        font-weight: 500;
        color: $grey-5;
        margin-bottom: 5px;
      }
      .card-actu-content {
        font-size: .75em;
        text-align: justify;
        color: $grey-7;
      }
      .card-actu-time {
        font-size: .75em;
        text-align: right;
        color: $grey-7;
        i {
          font-size: 1.1rem;
        }
      }
      .card-actu-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $blue;
        font-size: .8rem;
        font-family: $roboto;
        i {
          font-size: 1rem;
        }
      }
    }
  }
}
 