{% extends 'base.html.twig' %}

{% block body %}

<div class="main-container form-container">
    <div class="bg-container">
        <h2>Mon centre de vaccination le plus proche</h2>
        <form action="">
          <div class="input-text-group">
            <input type="text" name="input_city" id="input_city" class="input-control" placeholder="Ma ville ou mon code postal">
            <label for="input_city">Ville ou code postal</label>
          </div>
          <a href="{{ path('home') }}" class="button-primary"><i class="fa fa-check-circle"></i><span>Soumettre</span></a>
        </form>
        <img class="img-carte" src="{{ asset('assets/images/carte.png') }}" alt="info vaccin">
    </div>
</div>
{% endblock %}