{% extends 'base.html.twig' %}


{% block body %}
<div class="main-container form-container">
    <div class="bg-container">
        <h2>Ajouter une actualité</h2>
        <form action="">
          <div class="input-text-group">
            <input type="text" name="input_category" id="input_category" class="input-control" placeholder="Catégorie de l'actualité">
            <label for="input_category">Catégorie</label>
          </div>
          <div class="input-text-group">
            <input type="text" name="input_title" id="input_title" class="input-control" placeholder="Titre de l'actualité">
            <label for="input_title">Titre</label>
          </div>
          <div class="input-text-group">
            <textarea name="input_content" id="input_content" placeholder="Entrez le contenu de l'actualité ici..."></textarea>
            <label for="input_content">Contenu</label>
          </div>
          <div class="buttons-space-between-group">
            <a href="" class="button-outline"><i class="fa fa-picture-o"></i><span>Télécharger une image</span></a>
            <a href="{{ path('home') }}" class="button-primary"><i class="fa fa-paper-plane"></i><span>Publier l'article</span></a>
          </div>
        </form>
    </div>
</div>


{% endblock %}