.main-container.form-container {
  h2 {
    color: $blue;
    text-align: center;
    margin-bottom: 40px;
  }
  form {
    margin: 0 auto;
    width: 500px;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  img.img-carte {
    margin: 40px 0;
    display: block;
    width: 100%;
  }
}