<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}COVID 19 - Tous vaccinés, tous protégés{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/style/css/index.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
        <script type="text/javascript" src="{{ asset('assets/js/main.js') }}" defer></script>
    </head>
    <body>
        {{ include('include/_header.html.twig') }}
        {% block body %}{% endblock %}
    </body>
</html>
